body {
    background-color: #aae4f9;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #00bbff;
    color: #0063af;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #00aeff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

.page {
    display: none;
    padding: 20px;
}

#productList {
    display: flex;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    width: 200px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
