/* Style sheet */
/* Define custom styles for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Times New Roman", Times, serif;

}

/* Customize the size of the carousel images */
.carousel-item img {
  height: auto; /* Auto-adjust the height */
  max-width: none; /* Remove the maximum width limit */
  width: 100%; /* Ensure the image fills its container */
}

/* Customize the position of the carousel caption */
.carousel-caption {
  bottom: 0; /* Position the caption at the bottom */
  left: 0;
  right: 0;
}

/* Customize the background color and text color of the carousel caption */
.carousel-caption,
.carousel-caption h5,
.carousel-caption p {
  color: #fff; /* Text color */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
}

#carouselContent {
  /* Position the content over the carousel */
  z-index: 1000; /* Make sure it's above the carousel */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
}